USE [QLDIEM]
GO
ALTER TABLE [dbo].[HOCPHAN] DROP CONSTRAINT [CK_HOCPHAN]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [CK_DIEMTHI_LanThi]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [CK_DIEMTHI_Diem]
GO
ALTER TABLE [dbo].[SINHVIEN] DROP CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[LOP] DROP CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [FK_DIEMTHI_SINHVIEN1]
GO
ALTER TABLE [dbo].[DIEMTHI] DROP CONSTRAINT [FK_DIEMTHI_HOCPHAN1]
GO
ALTER TABLE [dbo].[LOP] DROP CONSTRAINT [DF_LOP_hedaotao]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/3/2023 3:32:08 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SINHVIEN]') AND type in (N'U'))
DROP TABLE [dbo].[SINHVIEN]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/3/2023 3:32:08 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOP]') AND type in (N'U'))
DROP TABLE [dbo].[LOP]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/3/2023 3:32:08 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHOA]') AND type in (N'U'))
DROP TABLE [dbo].[KHOA]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 11/3/2023 3:32:08 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOCPHAN]') AND type in (N'U'))
DROP TABLE [dbo].[HOCPHAN]
GO
/****** Object:  Table [dbo].[DIEMTHI]    Script Date: 11/3/2023 3:32:08 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEMTHI]') AND type in (N'U'))
DROP TABLE [dbo].[DIEMTHI]
GO
/****** Object:  Table [dbo].[DIEMTHI]    Script Date: 11/3/2023 3:32:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTHI](
	[MAHOCPHAN] [nvarchar](10) NOT NULL,
	[MASV] [nvarchar](10) NOT NULL,
	[LANTHI] [tinyint] NOT NULL,
	[DIEM] [numeric](5, 2) NULL,
 CONSTRAINT [PK_DIEMTHI] PRIMARY KEY CLUSTERED 
(
	[MAHOCPHAN] ASC,
	[MASV] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 11/3/2023 3:32:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHOCPHAN] [nvarchar](10) NOT NULL,
	[TENHOCPHAN] [nvarchar](50) NOT NULL,
	[SOTINCHI] [tinyint] NOT NULL,
 CONSTRAINT [PK_HOCPHAN] PRIMARY KEY CLUSTERED 
(
	[MAHOCPHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/3/2023 3:32:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nvarchar](5) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_KHOA] UNIQUE NONCLUSTERED 
(
	[TENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/3/2023 3:32:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](10) NOT NULL,
	[TENLOP] [nvarchar](60) NOT NULL,
	[KHOAHOC] [tinyint] NULL,
	[HEDAOTAO] [nvarchar](25) NULL,
	[NAMNHAPHOC] [smallint] NULL,
	[MAKHOA] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/3/2023 3:32:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](10) NOT NULL,
	[HODEM] [nvarchar](25) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NOISINH] [nvarchar](100) NULL,
	[MALOP] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [DF_LOP_hedaotao]  DEFAULT (N'Chính quy') FOR [HEDAOTAO]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHI_HOCPHAN1] FOREIGN KEY([MAHOCPHAN])
REFERENCES [dbo].[HOCPHAN] ([MAHOCPHAN])
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [FK_DIEMTHI_HOCPHAN1]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHI_SINHVIEN1] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [FK_DIEMTHI_SINHVIEN1]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [CK_DIEMTHI_Diem] CHECK  (([Diem]>=(0) AND [Diem]<=(10)))
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [CK_DIEMTHI_Diem]
GO
ALTER TABLE [dbo].[DIEMTHI]  WITH CHECK ADD  CONSTRAINT [CK_DIEMTHI_LanThi] CHECK  (([Lanthi]=(1) OR [LanThi]=(2)))
GO
ALTER TABLE [dbo].[DIEMTHI] CHECK CONSTRAINT [CK_DIEMTHI_LanThi]
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHAN] CHECK  (([SoTinChi]>(0) AND [SOTINCHI]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHAN] CHECK CONSTRAINT [CK_HOCPHAN]
GO
